/***************************************************
	Widget plugin - styling for cta box
***************************************************/

.wpmu_cta_widget .cta {
	clear: both;
	width: 96%;
	margin: 10px 0;
	padding: 0.5em 2%;
	font: arial, sans-serif;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.8rem;
	background-color: #222;
	color: #fff;
}
.cta a:link,
.cta a:visited {
	text-decoration: none;
}
.cta a:hover,
.cta a:active {
	text-decoration: underline;
}