/***************************************************
	Shortcode plugin - styling for cta box
***************************************************/

.cta-in-post {
	clear: both;
	margin: 10px 0;
	padding: 15px 5%;
	font: arial, sans-serif;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.8rem;
	background-color: #222;
	color: #fff;
}
.cta-in-post a:link,
.cta-in-post a:visited {
	text-decoration: none;
}
.cta-in-post a:hover,
.cta-in-post a:active {
	text-decoration: underline;
}